<header class="header">
	<h1>SKATEasy :: Home</h1>
	<aside id="loginbox" class="loginbox">		
	
		<div *ngIf="sessionService.getIsLogin() == false">
			<label for="email">Email </label>
			<input type="text" [(ngModel)]="email" size="16" required maxlength="32" />
			&nbsp;
			<label for="password">Password </label>
			<input type="password" [(ngModel)]="password" size="16" required maxlength="32" />
			&nbsp;
			<input type="reset" value="Clear" />
			&nbsp;
			<input type="button" (click)="staffLogin()" value="Login" />					
		</div>
		
		<div *ngIf="loginError == true" style="text-align: right; color: red;">
			Invalid login credential: Email does not exist or invalid password!
		</div>
		
		<div *ngIf="sessionService.getIsLogin() == true">
			You are login as {{sessionService.getCurrentCustomer().firstName}} {{sessionService.getCurrentCustomer().lastName}} 
			<input type="button" (click)="customerLogout()" value="Logout" />
		</div>
	</aside>
</header>