<header class="header">
	<figure class="logo">
		<img src="assets/images/logo.png" alt="SKATEasy" />
	</figure>
	<div style="float:right" id="loginbox" class="loginbox">		
	
		<div *ngIf="sessionService.getIsLogin() == false">
			<span class="p-float-label" style="float:left">
				<input id="float-input" type="text" [(ngModel)]="email" size="16" required maxlength="32" pInputText> 
				<label for="float-input">Email</label>
			</span>
			&nbsp;
			<span class="p-float-label" style="float:left">
				<input id="float-input" type="text" [(ngModel)]="password" size="16" required maxlength="32" pInputText> 
				<label for="float-input">Password</label>
			</span>
			&nbsp;
			<p-button label="Login" (onClick)="customerLogin()"></p-button>				
		</div>
		
		<div *ngIf="loginError == true" style="text-align: right; color: #E57373;">
			Invalid login credential: Email does not exist or invalid password!
		</div>
		
		<div *ngIf="sessionService.getIsLogin() == true">
			You are login as {{sessionService.getCurrentCustomer().firstName}} {{sessionService.getCurrentCustomer().lastName}}
			<input type="button" (click)="customerLogout()" value="Logout" />
			<p-button label="Logout" (onClick)="customerLogout()"></p-button>	
		</div>
	</div>
</header>